body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(4, 59, 59, 0.918);
  color: white;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.list-item-jump {
  list-style-type: none;
  margin-bottom: 6px;
}

.btn-jump {
  width: 200px;
  padding: 8px;
  background: rgb(16, 153, 16);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}