.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.container h1 {
  font-size: 20px;
  font-weight: bold;
  color: lightgray;
}

.similarMovies {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.similar {
  display: flex;
  flex-direction: column;
}

.similar img {
  width: 160px;
  height: auto;
  border-radius: 10px;
}

.similar h4 {
  padding-top: 10px;
}

.similar h5 {
  padding-top: 10px;
  color: darkgray;
}